html, body {
    background-image: url(./images/intersection.png);
    width: 100%;
    font-family: 'Times New Roman'
}
header{
    padding:0px;
    margin:0px;
    border-bottom: solid #cccccc;
}
nav {
    padding-top:0px;
    padding-bottom: 0;
}
.row {
    padding: 0px;
    margin: 0px;
}

.mt-0{
    margin-top: 0 !important;
}
.mt-0{
    margin-bottom: 0 !important;
}
.about {
    width: 960px;
    background-color: white;
    padding: 20px;
    
}
h1 {
    color: #4aaaa5;
    font-family: georgia;
}
#headshot {
    float: left;
    display: block;
    max-width: 200px;
    padding: 10px;
}
p {
    text-align: left;
    color: #777777;
    line-height: 2.0em;
    font-family: "times new roman;"
}

#name {
    max-width: 250px;
    background-color:#4aaaa5;
    color: white;
    margin-left: 17%;
    padding: 10px;
    font-family: georgia;
    font-weight: bold;
    font-size: 25px;
    top: 0%;
    position: fixed;
}

#apc {
    margin-left: 70%;
    padding: 10px;
}

.contact {
    width: 680px;
    padding: 20px; 
    background-color: white;
    margin: 60px auto;

}
.submit {
    background-color:#4aaaa5;
    color: white;
}
#papc {
    margin-left: 61%;
    padding: 10px;

}
#pname {
    max-width: 250px;
    background-color:#4aaaa5;
    color: white;
    margin-left: 25%;
    padding: 10px;
    font-family: georgia;
    font-weight: bold;
    font-size: 25px;
    top: 0%;
    position: fixed;
}

.text-block {
    position: absolute;
    background-color: teal;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 8px;
}
#group1 {
    width: 152.34px;
    top: 21%;
}

#group2 {
    width: 152.34px;
    bottom:37%;
}

#group3 {
    width: 152.34px;
    bottom: 2%;
}

#group4 {
    top: 21%;
    width: 150px;
}

#group5 {
    bottom: 38%;
    width: 150px;
}
h4 {
    font-size: 14px;
    text-align: center;
}

#cname {
    max-width: 250px;
    background-color:#4aaaa5;
    color: white;
    margin-left: 25%;
    padding: 10px;
    font-family: georgia;
    font-weight: bold;
    font-size: 25px;
    top: 0%;
    position: fixed;
}

#capc {
    margin-left: 61%;
    padding: 50px;
}

#portfolio{
    width: 680px;
    padding: 20px;
    margin: 60px auto;
    background-color: white;
}
.img1{
    max-height: 150px;
    font-size: 8px;
}

.img2{
    max-width: 150px;
    font-size: 8px;
   
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color:#666666;
    color: white;
    text-align: center;
    border-top: 5px solid teal;
    padding-bottom: 0%;
}
    

@media screen and (max-width: 1000px) {

    #name, #pname, #cname {
        padding:10px;
        position: fixed;
    }
  
}
@media screen and (max-width: 900px) {

    #name, #pname, #cname {
        padding:6px;
        position: fixed;
    }
  
}
@media screen and (max-width: 850px) {

    #name, #pname, #cname {
        padding:6px;
        position: fixed;
    }
  
}
@media screen and (max-width: 800px) {

    #name, #pname, #cname {
        padding:6px;
        position: fixed;
    }
  
}
@media screen and (max-width: 750px) {

    #name, #pname, #cname {
        padding:6px;
        position: fixed;
    }
  
}
@media screen and (max-width: 730px) {

    #name, #pname, #cname {
        padding:6px;
        margin-left: 0%;
        position: fixed;
    }
